:root {
  --primary-background-color: #01abe8;
  --secondary-background-color: #ffffff;
  --primary-text-color: #000000;
  --secondary-text-color: #ffffff;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'InterstateCondensed';
  font-weight: 400;
}

h1 {
  font-weight: 900;
  font-size: 75px;
  padding-top: 60px;
  margin-top: 0;
  margin-bottom: 20px;
}

h2 {
  font-weight: 900;
  font-size: 40px;
  margin-top: 20px;
  margin-bottom: 10px;
}

h3 {
  font-weight: 300;
  font-size: 24px;
}

@media (max-width: 1224px) {
  h1 {
    font-size: 50px;
    padding-top: 30px;
    margin-bottom: 10px;
    font-weight: 700;
  }

  h2 {
    font-size: 30px;
    font-weight: 700;
  }
}

@font-face {
  font-family: 'InterstateCondensed';
  src: local('InterstateCondensed'),
    url(./assets/fonts/Interstate\ Condensed\ Regular.otf) format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: 'InterstateCondensed';
  src: local('InterstateBold'),
    url(./assets/fonts/interstate-bold-cond-58b64162258ca.otf) format('opentype');
  font-weight: 700;
}

@font-face {
  font-family: 'InterstateCondensed';
  src: local('InterstateLight'),
    url(./assets/fonts/interstate-light-cond-58b64220b1490.otf) format('opentype');
  font-weight: 300;
}

@font-face {
  font-family: 'InterstateCondensed';
  src: local('InterstateBlack'),
    url(./assets/fonts/interstate-black-cond-58b642507872b.otf) format('opentype');
  font-weight: 900;
}
